@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf5f5;
  
}