.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h3 {
  font-size: 1.2rem;
  color: #2575fc;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}
/*  News */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h3 {
  font-size: 1.2rem;
  color: #2575fc;
  margin: 10px 0;
}

.card p {
  font-size: 0.9rem;
  color: #333;
}

.active-tab {
  background-color: #2575fc;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.85;
}

/* news End */